In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/BACHelorette_.csv')

In [3]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,SHOW,SEASON,ID,1,2,3,4,5,6,7,...,1,2,3,4,5,6,7,8,9,10
1,Bachelorette,13,13_BRYAN_A,R1,NaN,NaN,R,R,NaN,R,...,NaN,NaN,D6,D13,D1,D7,D1,D1,D1,D1
2,Bachelorette,13,13_PETER_K,NaN,R,NaN,NaN,NaN,R,R,...,NaN,D1,D6,D13,D9,D7,D1,D1,D1,D1
3,Bachelorette,13,13_ERIC_B,NaN,NaN,R,NaN,NaN,R,R,...,NaN,D10,D8,D13,D9,D1,D3,D1,D1,NaN
4,Bachelorette,13,13_DEAN_U,NaN,R,NaN,R,NaN,NaN,R,...,NaN,D8,D8,D1,D9,D7,D1,D1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df[df['ELIMINATION-1'] == 'E']

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
24,Bachelorette,13,13_BLAKE_K,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Bachelorette,13,13_GRANT_H,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bachelorette,13,13_JEDIDIAH_B,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bachelorette,13,13_KYLE_S,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bachelorette,13,13_MICHAEL_B,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df[df['ELIMINATION-7'] == 'E']

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
37,Bachelorette,12,12_JAMES_T,NaN,R,R,NaN,NaN,NaN,E,...,NaN,D6,D1,D11,D9,D5,D3,NaN,NaN,NaN
63,Bachelorette,11,11_JARED_H,NaN,NaN,NaN,R,NaN,R,E,...,NaN,D8,D6,D1,D9,D5,D1,D1,NaN,NaN
91,Bachelorette,10,10_BRIAN_O,NaN,NaN,NaN,R,R,NaN,E,...,NaN,D14,D12,D6,D1,D6,D4,NaN,NaN,NaN
92,Bachelorette,10,10_DYLAN_P,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D14,NaN,D1,D9,D6,D4,NaN,NaN,NaN
117,Bachelorette,09,09_MICHAEL_G,R1,NaN,NaN,NaN,R,NaN,E,...,NaN,D14,D10,D10,D2,D6,D1,NaN,NaN,NaN
143,Bachelorette,08,08_JOHN_W,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D13,D12,D2,D8,D6,D1,NaN,NaN,NaN
169,Bachelorette,07,07_LUCAS_D,NaN,NaN,NaN,NaN,NaN,R,E,...,NaN,D6,D10,D10,D8,D1,D3,NaN,NaN,NaN
195,Bachelorette,06,06_TY_B,NaN,R,NaN,NaN,R,R,E,...,NaN,D12,NaN,D7,D6,D1,D2,NaN,NaN,NaN
221,Bachelorette,05,05_JESSE_K,NaN,NaN,NaN,R,R,NaN,E,...,NaN,D7,NaN,D10,D1,D6,D1,NaN,NaN,NaN
222,Bachelorette,05,05_MICHAEL_S,NaN,NaN,NaN,NaN,R,NaN,E,...,NaN,D8,D11,D10,D1,D6,D1,NaN,NaN,NaN
250,Bachelorette,04,04_JEREMY_A,R1,R,NaN,NaN,NaN,NaN,E,...,NaN,D7,D10,D6,D1,D1,D1,NaN,NaN,NaN
275,Bachelorette,03,03_JOHN PAUL_M,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D1,D4,D1,D1,D1,NaN,NaN,NaN
301,Bachelorette,02,02_MATTHEW_H,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D7,D1,D1,D1,D1,NaN,NaN,NaN
387,Bachelor,20,20_BECCA_T,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D10,NaN,D1,D9,D7,D3,NaN,NaN,NaN
416,Bachelor,19,19_CARLY_W,NaN,NaN,NaN,NaN,R,NaN,E,...,NaN,NaN,D12,D6,D1,D6,D3,NaN,NaN,NaN
417,Bachelor,19,19_BRITT_N,R1,NaN,NaN,NaN,R,R,E,...,NaN,D11,D12,D6,D1,D6,D3,NaN,NaN,NaN
447,Bachelor,18,18_CHELSIE_W,NaN,NaN,R,NaN,NaN,NaN,E,...,NaN,D13,D1,D6,D9,D6,D4,NaN,NaN,NaN
475,Bachelor,17,17_LESLEY_M,NaN,NaN,R,NaN,NaN,R,E,...,NaN,D13,D1,NaN,D8,D7,D1,NaN,NaN,NaN
502,Bachelor,16,16_EMILY_O,NaN,NaN,R,NaN,NaN,NaN,E,...,NaN,D12,D1,NaN,D9,D6,D1,NaN,NaN,NaN
503,Bachelor,16,16_RACHEL_T,NaN,NaN,R,R,NaN,R,E,...,NaN,D12,D11,D1,D9,D2,D3,NaN,NaN,NaN
528,Bachelor,15,15_MICHELLE_M,NaN,R,NaN,R,NaN,NaN,E,...,NaN,D15,D12,D1,D8,D6,D3,NaN,NaN,NaN
583,Bachelor,13,13_JILLIAN_H,NaN,R,R,NaN,NaN,NaN,E,...,NaN,D1,D8,D6,D3,D1,D1,NaN,NaN,NaN
609,Bachelor,12,12_AMANDA_R,R1,NaN,NaN,R,NaN,NaN,E,...,NaN,D8,D10,D1,D4,D1,D1,NaN,NaN,NaN
635,Bachelor,11,11_BETTINA_B,NaN,NaN,NaN,R,NaN,NaN,E,...,NaN,D7,D5,D6,D1,D1,D1,NaN,NaN,NaN
661,Bachelor,10,10_DANIELLE_I,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D4,D4,D4,D1,D1,NaN,NaN,NaN
686,Bachelor,09,09_SADIE_M,NaN,R,NaN,R,NaN,NaN,E,...,NaN,D5,D6,D1,D1,D1,D1,NaN,NaN,NaN
714,Bachelor,08,08_Moana,NaN,NaN,R,NaN,NaN,NaN,E,...,NaN,"D6, D12",D5,D4,D1,D1,D1,NaN,NaN,NaN
767,Bachelor,06,06_Cynthia,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,NaN,NaN,NaN,D1,D1,D1,NaN,NaN,NaN
794,Bachelor,05,05_TARA_H,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D7,D1,D1,D1,D1,D1,NaN,NaN,NaN
819,Bachelor,04,04_Kelly-Jo,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D4,D3,D1,D1,D1,D1,NaN,NaN,NaN
846,Bachelor,03,03_KIRSTEN_X,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D5,D1,D1,D1,D1,D1,NaN,NaN,NaN
872,Bachelor,02,02_BROOKE_S,NaN,NaN,NaN,NaN,NaN,NaN,E,...,NaN,D5,D1,D3,D1,D1,NaN,NaN,NaN,NaN

In [11]:
corona = pd.read_csv('../data/usa_county_wise.csv')

In [12]:
corona

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627915,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,"Central Utah, Utah, US",7/27/20,347,1
627916,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,"Southeast Utah, Utah, US",7/27/20,70,0
627917,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,"Southwest Utah, Utah, US",7/27/20,2781,23
627918,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,"TriCounty, Utah, US",7/27/20,142,0
627919,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,"Weber-Morgan, Utah, US",7/27/20,2375,24

In [13]:
corona[corona['Province_State'] == 'New Jersey']

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
1856,84034001,US,USA,840,34001.0,Atlantic,New Jersey,US,39.475387,-74.658485,"Atlantic, New Jersey, US",1/22/20,0,0
1857,84034003,US,USA,840,34003.0,Bergen,New Jersey,US,40.960109,-74.071643,"Bergen, New Jersey, US",1/22/20,0,0
1858,84034005,US,USA,840,34005.0,Burlington,New Jersey,US,39.876811,-74.669278,"Burlington, New Jersey, US",1/22/20,0,0
1859,84034007,US,USA,840,34007.0,Camden,New Jersey,US,39.803438,-74.963888,"Camden, New Jersey, US",1/22/20,0,0
1860,84034009,US,USA,840,34009.0,Cape May,New Jersey,US,39.150088,-74.801702,"Cape May, New Jersey, US",1/22/20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626454,84034037,US,USA,840,34037.0,Sussex,New Jersey,US,41.138916,-74.691182,"Sussex, New Jersey, US",7/27/20,1285,195
626455,84034039,US,USA,840,34039.0,Union,New Jersey,US,40.658354,-74.306801,"Union, New Jersey, US",7/27/20,16376,1347
626456,84034041,US,USA,840,34041.0,Warren,New Jersey,US,40.859518,-74.995565,"Warren, New Jersey, US",7/27/20,1315,170
627834,84080034,US,USA,840,80034.0,Out of NJ,New Jersey,US,0.000000,0.000000,"Out of NJ, New Jersey, US",7/27/20,0,0
627887,84090034,US,USA,840,90034.0,Unassigned,New Jersey,US,0.000000,0.000000,"Unassigned, New Jersey, US",7/27/20,701,0

In [14]:
covid = pd.read_csv('../data/COVID-19_Case_Surveillance.csv')

In [15]:
covid

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/03/22,2020/03/15,2020/03/11,Laboratory-confirmed case,Female,0 - 9 Years,"Multiple/Other, Non-Hispanic",Yes,Yes,No,Yes
1,2020/03/23,2020/03/15,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Unknown,Unknown,Unknown,Unknown
2,2020/03/15,2020/03/15,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
3,2020/03/15,2020/03/15,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020/03/15,2020/03/15,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
...,...,...,...,...,...,...,...,...,...,...,...
978020,2020/07/02,NaN,NaN,Laboratory-confirmed case,Unknown,40 - 49 Years,Unknown,Missing,Missing,Missing,Missing
978021,2020/07/09,NaN,NaN,Laboratory-confirmed case,Unknown,40 - 49 Years,Unknown,Missing,Missing,Missing,Missing
978022,2020/08/19,NaN,NaN,Laboratory-confirmed case,Unknown,40 - 49 Years,Unknown,Unknown,Missing,Missing,Missing
978023,2020/08/30,NaN,2020/08/30,Laboratory-confirmed case,Unknown,40 - 49 Years,Unknown,No,Missing,No,Missing
978024,2020/06/29,NaN,2020/0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
corona[(corona['Province_State'] == 'New Jersey') & (corona['Date'] == '7/27/20') ]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
626436,84034001,US,USA,840,34001.0,Atlantic,New Jersey,US,39.475387,-74.658485,"Atlantic, New Jersey, US",7/27/20,3271,240
626437,84034003,US,USA,840,34003.0,Bergen,New Jersey,US,40.960109,-74.071643,"Bergen, New Jersey, US",7/27/20,20280,2045
626438,84034005,US,USA,840,34005.0,Burlington,New Jersey,US,39.876811,-74.669278,"Burlington, New Jersey, US",7/27/20,5642,470
626439,84034007,US,USA,840,34007.0,Camden,New Jersey,US,39.803438,-74.963888,"Camden, New Jersey, US",7/27/20,8130,566
626440,84034009,US,USA,840,34009.0,Cape May,New Jersey,US,39.150088,-74.801702,"Cape May, New Jersey, US",7/27/20,800,86
626441,84034011,US,USA,840,34011.0,Cumberland,New Jersey,US,39.371994,-75.107126,"Cumberland, New Jersey, US",7/27/20,3144,155
626442,84034013,US,USA,840,34013.0,Essex,New Jersey,US,40.786813,-74.246580,"Essex, New Jersey, US",7/27/20,19335,2103
626443,84034015,US,USA,840,34015.0,Gloucester,New Jersey,US,39.715811,-75.139955,"Gloucester, New Jersey, US",7/27/20,2986,203
626444,84034017,US,USA,840,34017.0,Hudson,New Jersey,US,40.737662,-74.075157,"Hudson, New Jersey, US",7/27/20,19387,1502
626445,84034019,US,USA,840,34019.0,Hunterdon,New Jersey,US,40.563352,-74.912842,"Hunterdon, New Jersey, US",7/27/20,1122,126
626446,84034021,US,USA,840,34021.0,Mercer,New Jersey,US,40.280470,-74.704796,"Mercer, New Jersey, US",7/27/20,7934,612
626447,84034023,US,USA,840,34023.0,Middlesex,New Jersey,US,40.436299,-74.414270,"Middlesex, New Jersey, US",7/27/20,17557,1404
626448,84034025,US,USA,840,34025.0,Monmouth,New Jersey,US,40.265497,-74.222407,"Monmouth, New Jersey, US",7/27/20,9908,855
626449,84034027,US,USA,840,34027.0,Morris,New Jersey,US,40.860953,-74.545537,"Morris, New Jersey, US",7/27/20,7076,828
626450,84034029,US,USA,840,34029.0,Ocean,New Jersey,US,39.889545,-74.280893,"Ocean, New Jersey, US",7/27/20,10238,1012
626451,84034031,US,USA,840,34031.0,Passaic,New Jersey,US,41.032386,-74.299541,"Passaic, New Jersey, US",7/27/20,17327,1247
626452,84034033,US,USA,840,34033.0,Salem,New Jersey,US,39.587197,-75.346966,"Salem, New Jersey, US",7/27/20,859,81
626453,84034035,US,USA,840,34035.0,Somerset,New Jersey,US,40.564657,-74.616830,"Somerset, New Jersey, US",7/27/20,5139,557
626454,84034037,US,USA,840,34037.0,Sussex,New Jersey,US,41.138916,-74.691182,"Sussex, New Jersey, US",7/27/20,1285,195
626455,84034039,US,USA,840,34039.0,Union,New Jersey,US,40.658354,-74.306801,"Union, New Jersey, US",7/27/20,16376,1347
626456,84034041,US,USA,840,34041.0,Warren,New Jersey,US,40.859518,-74.995565,"Warren, New Jersey, US",7/27/20,1315,170
627834,84080034,US,USA,840,80034.0,Out of NJ,New Jersey,US,0.000000,0.000000,"Out of NJ, New Jersey, US",7/27/20,0,0
627887,84090034,US,USA,840,90034.0,Unassigned,New Jersey,US,0.000000,0.000000,"Unassigned, New Jersey, US",7/27/20,701,0